---
import ColorBlock from './ColorBlock.vue';
const { colors, backgroundColor } = Astro.props;
const bgcol = backgroundColor ? backgroundColor : 'none';
---

<section style={`background-color: ${bgcol};`}>
	{colors.map((color: string) => <ColorBlock color={color} />)}
</section>

<style>
	section {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		justify-content: space-between;
		margin-block: 3rem;
		padding: 10px;
	}
</style>
